    <th:block xmlns:th="https://www.thymeleaf.org">
    <div th:fragment="introduction">
    <div th:replace="header"></div>
    <div th:replace="inner-header"></div>
     	<div class="wrapper" id="skipCont"></div>
      <!--/#skipCont-->
      <section id="fontSize" class="wrapper body-wrapper ">
      <div class="bg-wrapper inner-wrapper">
      <div class="breadcam-bg breadcam">
         <div class="container common-container four_content ">
            <ul>
               <li><a href="/">Home </a></li>
               <li><a href="#">About us</a></li>
               <li><a href="#">Central Laboratory</a></li>
            </ul>
         </div>
      </div>
      <!--/#page-head-->
      <section id="paragraph" class="wrapper paragraph-wrapper">
         <section id="main-content">
			  <div class="container" style="max-width: 90%;" >
			    	<div class="row">
			     <!-- Internal Page Landing -->
			     <div class="d-flex justify-content-between bd-highlight mb-3">
		    		<div class="p-2 bd-highlight"></div>
		    			<div class="p-2" style="text-align : center"><h2 class="page-title-dec">Central Laboratory</h2></div>
		    		<div class="p-2 bd-highlight">
		    		</div>
				  </div>
				  <hr>
			      <div class="col-md-8" style="margin-left : 20px;">
			     	<div class="content">
				      	<div class="content-decor">This is a Secondary Standard Metrological laboratory run by the Legal Metrology Organisation situated at MAP-TAUL Bhawan, Raja Bazar, Bailey road, Patna- 800014
								Under this laboratory all the SSLs & WSLs are established all along the state of Bihar.
				        	</div><br>
				        	<div class="content-decor"><b>The Central Laboratory is entrusted with the following tasks and jobs.</b></div><br>
				        	<div class="content-decor">
				        	(a) Periodical re-verification, accurate reproduction of metrological standard of working standard Weights, 
				        	Balances, Capacity measures and Length measures.<br>
							(b) Testing of sample of Weights & Measures and Weighing and measuring instrument presented by the prospective manufacturers <br>
							for getting their sample approved by the competent authorities of the Central laboratory.<br>
				 			(c) Conducting of ability test for repairing of various Weights, Weighing and measuring instruments of the prospective repairing applicants.<br>
							(d)  Impart training to the new Inspector of Legal Metrology after their Joining with practical demonstration for six weeks.<br>
							(e) Impact Legal and technical suggestions to the Controller Legal Metrology before taking the final decisions to meet the 
							requirements of Legal Metrology.<br>
							(f) Central Laboratory in-charge maintains liaison with the Regional Reference standard Laboratory, BHUBANESHWAR, Government of India.
				        	</div>
				        </div>
			        <br>
			       	
			        <br>
			     		 <center> <h2 class="page-title-dec">Secondary Standard Lab Equipments </h2></center><br>
			     		 <div class="row">
			     		 		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			                <a href="images/Gallery/Lab photos/Lab image-1.JPG" class="fancybox" rel="ligthbox">
			                    <img  src="images/Gallery/Lab photos/Lab image-1.JPG" class="zoom img-fluid "  alt="Lab images1">
			                </a>
			            </div>
			            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
			                <a href="images/Gallery/Lab photos/Lab image-4.jpg" class="fancybox" rel="ligthbox">
			                    <img  src="images/Gallery/Lab photos/Lab image-4.jpg" class="zoom img-fluid "  alt="Lab images4" style="height: 125px; width: 200px;">
			                </a>
			            </div>
			            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
			                <a href="images/Gallery/Lab photos/Lab image-3.jpg" class="fancybox" rel="ligthbox">
			                    <img  src="images/Gallery/Lab photos/Lab image-3.jpg" class="zoom img-fluid "  alt="Lab images3">
			                </a>
			            </div>
			            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
			                <a href="images/Gallery/Lab photos/Lab image-10.jpg" class="fancybox" rel="ligthbox">
			                    <img  src="images/Gallery/Lab photos/Lab image-10.jpg" class="zoom img-fluid "  alt="Lab images2" style="height: 125px; width: 200px;">
			                </a>
			            </div>
			     		 </div>
			     		 <br>
			        	 <div class="row">
			        	 	<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			                <a href="images/Gallery/Lab photos/Lab image-11.jpg" class="fancybox" rel="ligthbox">
			                    <img  src="images/Gallery/Lab photos/Lab image-9.jpg" class="zoom img-fluid "  alt="Lab images1">
			                </a>
			            </div>
			            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
			                <a href="images/Gallery/Lab photos/Lab image-12.JPG" class="fancybox" rel="ligthbox">
			                    <img  src="images/Gallery/Lab photos/Lab image-12.JPG" class="zoom img-fluid "  alt="Lab images4">
			                </a>
			            </div>
			             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
			                <a href="images/Gallery/Lab photos/Lab image-5.jpg" class="fancybox" rel="ligthbox">
			                    <img  src="images/Gallery/Lab photos/Lab image-5.jpg" class="zoom img-fluid "  alt="Lab images1">
			                </a>
			            </div>
			             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
			                <a href="images/Gallery/Lab photos/Lab image-6.jpg" class="fancybox" rel="ligthbox">
			                    <img  src="images/Gallery/Lab photos/Lab image-6.jpg" class="zoom img-fluid "  alt="Lab images2" style="height: 125px; width: 200px;">
			                </a>
			            </div>
			        	 </div>
			        <br><br>
			     	<br><br><br>
			      </div>
			      <div class="col-md-3">
			      	<div class="alignright ">
					 	<div class="col-md-12">
			               	<div class="box-part text-center">
			                       <div style="text-align: center"><i class="fa fa-home fa-2x"  style="color: #018544;" aria-hidden="true"></i></div>
			                 	<div style="text-align: center">
										<span style="color: #000; font-size: 15px"><b><u>Office Address:</u></b><br> Weights & Measures, Raja Bazar<br> P.O.- Bihar Veterinary College<br> Patna-800014</span>
										<br><span style="color: red; font-size: 15px">Contact No :  8340733272</span>
									</div>
			             	 </div>
							</div>	 
						</div>
			      </div>
			 </div></div>
</section>
      </section>
      
      
      <div th:replace="footer"></div>
      </div>
      </section>
      </div>
     </th:block>