    <th:block xmlns:th="https://www.thymeleaf.org">
    <div th:fragment="faq">
    <div th:replace="header"></div>
    <div th:replace="inner-header"></div>
     	<div class="wrapper" id="skipCont"></div>
      <!--/#skipCont-->
      <section id="fontSize" class="wrapper body-wrapper ">
      <div class="bg-wrapper inner-wrapper">
      <div class="breadcam-bg breadcam">
         <div class="container common-container four_content ">
            <ul>
               <li><a href="/">Home </a></li>
               <li><a href="#">FAQs</a></li>
            </ul>
         </div>
      </div>
      <!--/#page-head-->
      <section id="paragraph" class="wrapper paragraph-wrapper">
         <div class="content">
        		<div class="p-2 bd-highlight" style="text-align: center; padding-top: 15px; color: #0095da;"><h2 class="page-title-dec"><i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp;Frequently Asked Questions</h2></div>
        		<hr style="width: 75%; margin-left: auto; margin-right: auto;">
    			<div style="width: 75%; margin-left: auto; margin-right: auto; margin-bottom : 100px; text-align: justify">
    				<div>
        			<p style="color: red; font-weight: 600;">1. Who is a Consumer ?</p>
        			<p class="faq-ans">A Consumer is a person who purchases a product or avails a service for a consideration, 
        			either   for his personal use or to earn his livelihood by means of self employment. The consideration may be :</p><p>
        			</p><div class="faq-ans"><li>Paid</li>
        			<li>Promised</li>
        			<li>Partly paid and partly promised</li></div>
        			<p class="faq-ans">It also includes a beneficiary of such goods/services when such use is made with the approval of such person.</p>
        			
        			<p style="color: red; font-weight: 600">2. Who is not a Consumer ?</p>
        			<p class="faq-ans">A person is not a consumer if he/she :</p>
        			<div class="faq-ans"><li>	Purchases any goods or avails any service free of charge.</li>
        			<li>	Purchases a good or hires a service for commercial purpose.</li>
        			<li>Avails any service under contract of service.</li></div><br>
        			
        			<p style="color: red; font-weight: 600">3. What is Legal Metrology? What are W&amp;M laws? Why it is necessary to impose these laws?</p>
        			<p class="faq-ans">Metrology is the science of measurement and Legal Metrology means the part of metrology which treats units of 
        			weighment and measurement, methods of weighment and measurement of and weighing and measuring instruments, 
        			in relation to the mandatory technical and legal requirements which have the object of ensuring public guarantee from the point of view of security
        			 and accuracy of weighments and measurements. Legal Metrology comes under Agriculture department of Govt. of Bihar which 
        			 ensures uniform enforcement of Standards and connected matters in W&amp;Ms throughout the state. 
        			 The Govt. has enacted legal metrology act and framed rules for the regulation. </p>
        			 
        			 <p style="color: red; font-weight: 600">4. Is there any licence to manufacture, sale or repair W&amp;M?</p>
        			 <p class="faq-ans">Yes, the Department issues licence to the manufacturer, dealer and repairer of Weights &amp; Measures and for dealing in weights &amp; measuring instruments, 
        			 the licence mandatory.</p>
        			 
        			 <p style="color: red; font-weight: 600">5. Who is the competent Authority for grant of licence to Packer/Manufacturer/Dealer/ Repairer in W&amp;M?</p>
        			 <p class="faq-ans">The Controller, W&amp;Ms is the competent Authority to grant Licence for Manufacturer/ Dealer/ Repairer in W&amp;M.
        			  Registration as Packer/Manufacturer/Importer of packaged commodities is also done by the controller. 
        			  All the legal metrology officers discharge or operate delegated powers of Controller of Legal Metrology.</p>
        			  
        			  <p style="color: red; font-weight: 600">6. Can a person sell or use unstamped weights or measures?</p>
        			  <p class="faq-ans">No, Weights or Measure shall be sold or offered, exposed or possessed for sale or used or kept for use in any
        			   transaction or protection unless it has been verified &amp; stamped by concerned officer of Legal Metrology.</p>
        			   
        			   <p style="color: red; font-weight: 600">7. Is the licence issued under Weight &amp; Measure Act transferable?</p>
        			   <p class="faq-ans">No, a licence issued or renewal under this Act is not saleable or otherwise transferable.</p>
        			   
        			   <p style="color: red; font-weight: 600">8. Is it necessary to display the certificate of verification?</p>
        			   <p class="faq-ans">It is necessary to display every certificate of verification granted under the Act at a conspicuous place 
        			   in premises where such weights or measure is being, or is intended or likely to be, used in any transaction or for protection.</p>
        			   
        			   <p style="color: red; font-weight: 600">9. What is the penalty, if a person fails to get the weights or measure, verified or re verified in due time?</p>
        			   <p class="faq-ans">Whoever, being required to present any weight or measure for verification or re-verification,
        			    omits or fails without any reasonable cause to do so, shall be punished with fine which not be less than 
        			    two thousands rupees but which may extend to ten thousand rupees and for subsequent offence with imprisonment 
        			    for a term which may extend to one year and also with fine and such weight or measure can be seized on inspection.</p>
        			    
        			    <p style="color: red; font-weight: 600">10. What is the validity period of any Weight or Measure?</p>
        			    
        			    <table class="table table-bordered faq-ans" style="width: 80%; margin-left: 20px;">
               					<thead>
     									 <tr>
        									<th>Name of the Weights and measures </th>
        									<th>Period</th>
        									</tr>
    							</thead>
   							 <tbody>
   							 <tr>
   							 			<td>Cast Iron Weights</td>	<td>Two Years</td></tr>
										<tr><td>Bullion Weights</td><td>Two Years</td></tr>
										<tr><td>Counter Machine</td>	<td>Two Years</td></tr>
										<tr><td>Beam Scale</td>	<td>Two Years</td></tr>
										<tr><td>Electronic Scale</td>	<td>One Year</td></tr>
										<tr><td>Platform Machine</td>	<td>One Year</td></tr>
   							 			<tr><td>Length measure</td><td>	Two Year</td></tr>
										<tr><td>Volume measures (dipping measure, pouring and conical measure)</td>	<td>Two Years</td></tr>
										<tr><td>Peg measures</td>	<td>One Year</td></tr>
										<tr><td>Storage tanks (Vertical)</td><td>	Five Years</td></tr>
								</tbody>
  							</table>
        			  <p class="faq-ans"><u><b>For the facility to the public the Government have created four Quarters</b> </u></p>
        			  
        			 	 <p class="faq-ans">(A)	Jan. to March (Jan Quarter)</p>
						<p class="faq-ans">(B)	April 	to  June (April Quarter)</p>
						<p class="faq-ans">(C)	July to September (July Quarter)</p>
						<p class="faq-ans">(D)	 October to December. (October Quarter)</p>
						
						 <p class="faq-ans">For example:- Any Weight or Measure got verified in January it can be re-verified up to next due Jan Quarter i.e, within January to March without any penalty.</p>
        			  
        			   <p style="color: red; font-weight: 600">11. How can consumer ensure that any W&amp;M is standard or not?</p>
						<p class="faq-ans">Every W &amp; M used by the dealer is stamped by the W &amp; M Department after due verification, 
						with a special seal indicating the identification of Inspector and quarter in which it is verified. </p>
						
						 <p style="color: red; font-weight: 600">12. Can any person use for commercial purpose any non verified weights &amp; Measures?</p>
					<p class="faq-ans">No, a person cannot use any unverified &amp; unstamped Weights &amp; Measure in any circumstances. 
					He must use weights &amp; Measures verified and stamped from Weights &amp; Measures department.</p>
					
				 <p style="color: red; font-weight: 600">13. Who is the competent authority to register any person who intends to import or export any Weights &amp; Measures?</p>
					<p class="faq-ans">Every person who intend to import any Weights &amp; Measures needs to register himself with the Weights &amp; Measures Deptt./Division as dealer in the first instance. 
					Registration of importer is done by the Govt. of India after the recommendation of Weights &amp; Measures Department with Division valid dealer licence.</p>
			<p style="color: red; font-weight: 600">14. What are the instances where stamping and verification is not necessary under the Legal Metrology Act?</p>
			<p class="faq-ans">The provisions of this Act, in so far as they relates to the verification and stamping of Weights &amp; Measures, shall not apply to any Weights &amp; Measures which is:</p>
					<p class="faq-ans"><b>a.</b> Used in any factory exclusively engaged in the manufacture of any arms, or ammunition or both, for the use of the armed forces of the union</p>
					<p class="faq-ans"><b>b.</b> Used for scientific investigation or for research.</p>
					<p class="faq-ans"><b>c.</b> Manufactured exclusively for export.</p>
				<p style="color: red; font-weight: 600">15. Who is packer?</p>
			<p class="faq-ans">Any person or a firm, which pre-packs any commodity whether in any bottle, tin, 
			wrapper or otherwise in units suitable for sale, is a Packer. Packers need to register themselves with this Department.</p>
			<p style="color: red; font-weight: 600">16. What is pre-packed commodity?</p>
				<p class="faq-ans">Any commodity which, is placed in a package without the purchaser being present,
				 is of whatever nature so that the quantity of the product contained therein has a predetermined value 
				 which can not be altered without opening of the package, is a pre-packed commodity.</p>
			<p style="color: red; font-weight: 600">17. Where to make application for registration as Packer or importer?</p>
		<p class="faq-ans">Application can be made in the concern District Office of Legal Metrology Department or directly to Controller, Legal Metrology, Bihar, Patna.</p>
				<p style="color: red; font-weight: 600">18. What are the precautions to be taken by a person while purchasing Pre-Packed Commodities from Whole seller/ Supplier/ Manufacturer/ Shopkeeper?</p>
			<p class="faq-ans">Every person who either purchase or sells any Commodity in Pre-packed shape should ensure that it bears the following declarations:-</p>
			<p class="faq-ans">i.	Name and Address of Manufacturer/Packer/Importer.</p>
			<p class="faq-ans">ii.	 Name of item/ Commodity.</p>
			<p class="faq-ans">iii.	Net-quantity either in Weights, Measures or length as the case may be.</p>
			<p class="faq-ans">iv.	Month &amp; year of Manufacture/Packing/Import.</p>
			<p class="faq-ans">v.	Sale price of item/packet as MRP Rs ____ (inclusive of all taxes).</p>
			<p class="faq-ans">vi.	Expiry date in case of eatable item.</p>
			
			<p style="color: red; font-weight: 600">19. What are the requirements while purchasing the IMPORTED Items?</p>
		<p class="faq-ans">The followings are the compulsory declaration required on a packet which have been imported and available for sale:</p>
		<p class="faq-ans">i.	Name and Address of the Importer OR packer OR Manufacturer.</p>
		<p class="faq-ans">ii.	Name of the Commodity.</p>
		<p class="faq-ans">iii.	Net quantity in terms of Weights &amp; Measures.</p>
		<p class="faq-ans">iv.	Year and month of Packing/import.</p>
		<p class="faq-ans">v.	Maximum Retail Price MRP Rs....... (Inclusive of All Taxes).</p>
		
		<p style="color: red; font-weight: 600">20. What are the items on which the Packaged Commodities Rules, are not applicable?</p>

			<p class="faq-ans">The following are the items on which the PCR, not applicable:-</p>
			<p class="faq-ans">1. Any raw material for the use of Industrial purpose only.</p>
			<p class="faq-ans">2. Any part or material used in any Workshop, Service Station repairing bicycle, tricycle and Motor cycle.</p>
			<p class="faq-ans">3. Fast food items packed by Restaurant/hotel etc.</p>
			<p class="faq-ans">4. Drugs/Medicines covered under Drug Control Order.</p>
			<p class="faq-ans">5. Agriculture farm products in packet of above 50 Kg.</p>
			
			<p style="color: red; font-weight: 600">21. What is the penalty if a person receive less quantity (short quantity) ?</p>
			<p class="faq-ans">He shall be punished with fine which may extend to Rs. Ten thousand and for subsequent offence 
			with imprisonment for a term which may extend one year or with fine or both.</p>

			<p style="color: red; font-weight: 600">22. What are the words or expression which cannot be used on the pre-packed commodities?</p>
			<p class="faq-ans">The following words or expression of a similar nature shall not be used which create misleading or inadequate impression:
			 'Jumbo', 'Giant', 'full', 'family', 'huge', 'extra', 'economy', 'large', 'colossal', 'king', 'queen'.</p>
			
			<p style="color: red; font-weight: 600">23. Can a packer paste stickers on printed MRP on the plea of rate revised?</p>
			<p class="faq-ans">No.</p>
			
			<p style="color: red; font-weight: 600">24. Where the complaint regarding related with Weights &amp; Measure can be made ?</p>

			<p class="faq-ans">(i) Consumer Helpline : 18001801551 ( Timing 6:00 A.M.  to 10:00 P.M.)</p>
			<p class="faq-ans">(ii) In the office of Controller, Legal Metrology , Bihar, Patna email-id : clmbiharpatna@gmail.com</p>
			<p class="faq-ans">(iii) Concerned District LMO office</p>
        	</div>
    			</div>
		</div>
      </section>
      <div th:replace="footer"></div>
      </div>
      </section>
      </div>
     </th:block>