    <th:block xmlns:th="https://www.thymeleaf.org">
    <div th:fragment="introduction">
    <div th:replace="header"></div>
    <div th:replace="inner-header"></div>
     	<div class="wrapper" id="skipCont"></div>
      <!--/#skipCont-->
      <section id="fontSize" class="wrapper body-wrapper ">
      <div class="bg-wrapper inner-wrapper">
      <div class="breadcam-bg breadcam">
         <div class="container common-container four_content ">
            <ul>
               <li><a href="/">Home </a></li>
               <li><a href="#">About us</a></li>
               <li><a href="#">Introduction</a></li>
            </ul>
         </div>
      </div>
      <!--/#page-head-->
      <section id="paragraph" class="wrapper paragraph-wrapper">
         <div class="container common-container four_content" style="text-align: justify">
            <div class="align-lt">
               <img src="assets/images/paragraph-img/wm-intro.png" alt="weight and measures introduction" style="border: 1px dotted #ccc; border-radius: 10px; margin: 5px; padding-right: 0px">
               <span style="color: #0095da; font-size: 22px;">Introduction</span>
               <p>After independence in 1956, Parliament enacted the standard of weights and measures Act 1956 with a view to replace the bewildering varieties of weights and measures in use in the country by standards based on metric system. Earlier it was in state list but after 42nd amendment it comes under concurrent list of the constitution of india.</p>
               <p>After 42nd amendment in the constitution, standard Act 1976 was passed by the Indian Parliament to ensure country wide uniformity not only in the enforcement procedure but also in scope and coverage of Leagel Metrology control over weights measure and weighing and measuring instrument. 
After that standard of weights and measures (Enforcement) Act 1985 was passed by Indian Parliament and enforced in whole country, under which Bihar Weights and Measures(Enforcement) Rules 1988 was made and on 1st July 1988. It was enforced by the order of the Honorable Governor.
In present days, Legal Metrology Act, 2009 was passed by Indian Parliament and enforced in the whole country on 1st April 2011. Under this Act Legal Metrology (General) Rules 2011, Legal Metrology (packaged commodities) Rules 2011, Legal Metrology (Numeration) Rules 2011, Legal Metrology (Approval of Models) Rules 2011 and Legal Metrology (National Standards) Rules 2011 were made and was enforced in whole India on 1st April 2011. Bihar Legal Metrology (Enforcement) Rules, 2014 is enacting under the provision of  Legal Metrology Act 2009.</p>
            </div>
            <hr />
            <div class=" align-rt">
               <img src="assets/images/paragraph-img/wm-history.png" alt="Weight and measures history" style="border: 1px solid #ccc; border-radius: 10px; margin: 5px;">
               <span style="color: #0095da; font-size: 22px;">History</span>
               <p>The history of measurement systems in India begins in early Indus Valley Civilization with the earliest surviving samples dated to the 5th millennium BC. Since early times the adoption of standard weights and measures has reflected in the country's architectural, folk, and meteorological artifacts. A complex system of weights and measures was adopted by the Maurya Empire (322-185 BC), which also formulated regulations for the usage of this system. Later, the Mughal Empire (1526-1857) used standard measures to determine land holdings and collect land tax as a part of Mughal land reforms. The metric system (International System of Units) in weights and measures was adopted by the Indian Parliament in December 1956 with the Standards of Weights and Measures Act, which became effective from 1 October 1958.</p>
               <p>The advancement of technology has necessitated the review of above mentioned enactments to make them simple, eliminate obsolete regulations, ensure accountability and bring transparency. It is imperative to combine the provisions of the two acts i.e. the standards of weights and measures Act, 1976 and standards of weights and measures (Enforcement) Act, 1985 to get rid of anomalies and make the provisions simple. So legal metrology Act, 2009 is enacted to keep the regulation pragmatic to the extent required protecting the interest of consumers and at the same time keeps the industry free from under interference.</p>
             </div>
            <hr />
         </div>
      </section>
      <div th:replace="footer"></div>
      </div>
      </section>
      </div>
     </th:block>