    <th:block xmlns:th="https://www.thymeleaf.org">
    <div th:fragment="introduction">
    <div th:replace="header"></div>
    <div th:replace="inner-header"></div>
     	<div class="wrapper" id="skipCont"></div>
      <!--/#skipCont-->
      <section id="fontSize" class="wrapper body-wrapper ">
      <div class="bg-wrapper inner-wrapper">
      <div class="breadcam-bg breadcam">
         <div class="container common-container four_content ">
            <ul>
               <li><a href="/">Home </a></li>
               <li><a href="#">RTI</a></li>
            </ul>
         </div>
      </div>
      <!--/#page-head-->
      <section id="paragraph" class="wrapper paragraph-wrapper">
         <div class="content">
       		<div class="p-2 bd-highlight" style="text-align: center; padding-top: 15px; color: #0095da;"><h2 class="page-title-dec"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; RIGHT TO INFORMATION</h2></div>
       		<hr style="width: 90%; margin-left: auto; margin-right: auto;">
   			<div style="width: 90%; margin-left: auto; margin-right: auto;">
   				<section id="paragraph" class="wrapper paragraph-wrapper">
         			<div class="content">
        			<div style="width: 60%; display:inline; float:left; padding-left: 100px; padding-right: 20px">
		    		<div style="text-align: justify;">
		        	<div class="Content">
						<h2 style="text-align: center;">About Right to Information Act 2005</h2><br>
						<div style="text-align: center; color: #020262;"><b>Bringing Information to the Citizens</b></div> <br>
						<div class="content-decor">
							Right to Information Act 2005 mandates timely response to citizen
							requests for government information. It is an initiative taken by
							Department of Personnel and Training, Ministry of Personnel,
							Public Grievances and Pensions to provide RTI Portal Gateway to
							the citizens for quick search of information on the details of
							first Appellate Authorities,PIOs etc. amongst others, besides
							access to RTI related information/disclosures published on the web
							by various Public Authorities under the government of India as
							well as the State Governments.<br>
							<br>
						</div>
						<div style="text-align: center; color: #020262;"><b>Objective of the Right to Information Act :</b></div> <br>
						<div class="content-decor">
							The basic object of the Right to Information Act is to empower the
							citizens,promote transparency and accountability in the working of
							the Government,curtail corruption, and make our democracy work for
							the people in real sense.It goes without saying that an informed
							citizen is better equipped to keep necessary vigil on the
							instruments of governance and make the government more accountable
							to the governed.The Act is a big step towards making the citizens
							informed about the activities of the Government.<br>
							<br>
						</div>
						<div style="text-align: center; color: #020262;"><b>Regarding RTI : </b></div> <br>
						<div class="content-decor">
							An Act to provide for setting out the practical regime of right to information 
							for citizens to secure access to information under the control of public authorities, 
							in order to promote to transparency and accountability in the working of every public authority, 
							the constitution of a Central Information Commission and State Information Commissions and 
							for matters connected there with or incidental.
						<br>
							<br>
						</div>
						</div>
		        		</div><br><br>
     				</div>
			<div style="width: auto; display:inline; float:right; margin-right: 20px; padding: 20px; background: #f2f2f2; border-radius: 5px;">
				<div style="text-align: center">
	         		<span style="font-size: 20px; color: blue;">Download RTI Related Document</span>
	         	</div><br>
	         	<div style="text-align: left;">
	         		<a href="#" target="_blank">1. <u style="color: red">RTI
								Authorities &amp; RTI Filing Procedure</u></a><br>
	         		<a href="#" target="_blank">2. <u style="color: red">Download RTI Act (Hindi)</u></a><br>
	         		<a href="#" target="_blank">3. <u style="color: red">Download RTI Act (English)</u></a>
	         	</div>	
			</div>
		</div>
      </section>
   			</div>
        </div>
      </section>
      <div th:replace="footer"></div>
      </div>
      </section>
      </div>
     </th:block>