    <th:block xmlns:th="https://www.thymeleaf.org">
    <div th:fragment="introduction">
    <div th:replace="header"></div>
    <div th:replace="inner-header"></div>
     	<div class="wrapper" id="skipCont"></div>
      <!--/#skipCont-->
      <section id="fontSize" class="wrapper body-wrapper ">
      <div class="bg-wrapper inner-wrapper">
      <div class="breadcam-bg breadcam">
         <div class="container common-container four_content ">
            <ul>
               <li><a href="/">Home </a></li>
               <li><a href="#">Help</a></li>
               <li><a href="#">Sitemap</a></li>
            </ul>
         </div>
      </div>
      <!--/#page-head-->
      <section id="paragraph" class="wrapper paragraph-wrapper">
         <div class="content">
       		<div class="p-2 bd-highlight" style="text-align: center; padding-top: 15px; color: #0095da;"><h2 class="page-title-dec">Sitemap</h2></div>
       		<hr style="width: 75%; margin-left: auto; margin-right: auto;">
   			<div style="width: 75%; margin-left: auto; margin-right: auto;">
   				<div class="row" style="width: 70%; margin-right: auto; margin-left: auto;">
  			<div class="container">
					<div class="row">
		 				<div class="container">
							<div class="col-md-7">
            						<h2 style="color: #3c278c; text-decoration : underline; padding-bottom : 15px;">Header menu</h2>
    	   									<ul>
  													<a href="index.jsp" style="color: #171619; list-style-type:square; font-size: 15px" onmouseover="this.style.textDecoration = 'underline'"><li>Home</li></a>
 													 <a href="#" style="color: #171619; list-style-type:square; font-size: 15px"><li>About us</li></a>
 													 <a href="aboutUs.jsp" style="color: #4f387d;font-size: 15px"><li style="padding-left: 15px;" onmouseover="this.style.textDecoration = 'underline'">Introduction</li></a>
 													 <a href="orgChart.jsp" style="color: #4f387d;font-size: 15px"><li style="padding-left: 15px;" onmouseover="this.style.textDecoration = 'underline'">Organization  Chart</li></a>
 													 <a href="whoIsWho.jsp" style="color: #4f387d;font-size: 15px"><li style="padding-left: 15px;" onmouseover="this.style.textDecoration = 'underline'">Who is who</li></a>
 													 <a href="#" style="color: #4f387d;font-size: 15px"><li style="padding-left: 15px;" onmouseover="this.style.textDecoration = 'underline'">Establishment</li></a>
 													 <a href="#" style="color: #4f387d;font-size: 15px"><li style="padding-left: 15px;" onmouseover="this.style.textDecoration = 'underline'">Roadmap</li></a>
 													 <a href="#" style="color: #4f387d;font-size: 15px"><li style="padding-left: 15px;" onmouseover="this.style.textDecoration = 'underline'">Our Dealers</li></a>
 													 <a href="#" style="color: #4f387d;font-size: 15px"><li style="padding-left: 15px;" onmouseover="this.style.textDecoration = 'underline'">Our Manufacturer</li></a>
 													 <a href="#" style="color: #4f387d;font-size: 15px"><li style="padding-left: 15px;" onmouseover="this.style.textDecoration = 'underline'">Our repairer</li></a>
 													 <a href="#" style="color: #4f387d;font-size: 15px"><li style="padding-left: 15px;" onmouseover="this.style.textDecoration = 'underline'">Financial Target and Achivements</li></a>
 													 <a href="Notifications & Circulars" style="color: #171619; list-style-type:square; font-size: 15px" onmouseover="this.style.textDecoration = 'underline'"><li>Notifications & Circulars</li></a>
 													 <a href="events.jsp" style="color: #171619; list-style-type:square; font-size: 15px" onmouseover="this.style.textDecoration = 'underline'"><li>Events & Calendar</li></a>
 													 <a href="consumerCorner.jsp" style="color: #171619; list-style-type:square; font-size: 15px" onmouseover="this.style.textDecoration = 'underline'"><li>Consumer's Corner</li></a>
 													 <a href="gallery.jsp" style="color: #171619; list-style-type:square; font-size: 15px" onmouseover="this.style.textDecoration = 'underline'"><li>Gallery</li></a>
 													 <a href="#" style="color: #171619; list-style-type:square; font-size: 15px"><li>Downloads</li></a>
 													 <a href="forms.jsp" style="color: #4f387d;font-size: 15px" onmouseover="this.style.textDecoration = 'underline'"><li style="padding-left: 15px;">Forms</li></a>
 													 <a href="importantLetters.jsp" style="color: #4f387d;font-size: 15px" onmouseover="this.style.textDecoration = 'underline'"><li style="padding-left: 15px;">Important Letters</li></a>
 													 <a href="rti.jsp" style="color: #171619; list-style-type:square; font-size: 15px" onmouseover="this.style.textDecoration = 'underline'"><li>RTI</li></a>
 													 <a href="actsAndRules.jsp" style="color: #171619; list-style-type:square; font-size: 15px" onmouseover="this.style.textDecoration = 'underline'"><li>Acts & Rules</li></a>
 													 <a href="ContactUs.jsp" style="color: #171619; list-style-type:square; font-size: 15px" onmouseover="this.style.textDecoration = 'underline'"><li>Contact us</li></a>
 													 <a href="actsAndRules.jsp" style="color: #171619; list-style-type:square; font-size: 15px"><li>Grievance</li></a>
 													<a href="grievanceE.jsp" style="color: #4f387d;font-size: 15px"><li style="padding-left: 15px;" onmouseover="this.style.textDecoration = 'underline'">Grievance Lodge</li></a>
 													 <a href="grievanceT.jsp" style="color: #4f387d;font-size: 15px"><li style="padding-left: 15px;" onmouseover="this.style.textDecoration = 'underline'">Grievance Track</li></a>
 													 <a href="#" style="color: #171619; list-style-type:square; font-size: 15px"><li>Help</li></a>
 													<a href="sitemap.jsp" style="color: #4f387d;font-size: 15px"><li style="padding-left: 15px;" onmouseover="this.style.textDecoration = 'underline'">Sitemap</li></a>
 													 
 													 <a href="login.jsp" style="color: #171619; list-style-type:square; font-size: 15px" onmouseover="this.style.textDecoration = 'underline'"><li>Wemmis Application Login</li></a>
 													 <a href="news.jsp" style="color: #171619; list-style-type:square; font-size: 15px" onmouseover="this.style.textDecoration = 'underline'"><li>News Clipping</li></a>
 													 <a href="transferNpostings.jsp" style="color: #171619; list-style-type:square; font-size: 15px" onmouseover="this.style.textDecoration = 'underline'"><li>Transfer & Postings</li></a>
 													 <a href="tenderInformation.jsp" style="color: #171619; list-style-type:square; font-size: 15px" onmouseover="this.style.textDecoration = 'underline'"><li>Tender Information</li></a>
 													 <a href="sanctionedLetters.jsp" style="color: #171619; list-style-type:square; font-size: 15px" onmouseover="this.style.textDecoration = 'underline'"><li>SanctionedLetters.jsp</li></a>
											</ul>
									</div>
									
									<div class="col-md-5">
            						<h2 style="color: #3c278c; text-decoration : underline; padding-bottom : 15px;">Footer</h2>
    	   									<ul style="padding-left: 5px">
  													<a href="termsOfUse.jsp" style="color: #171619; list-style-type:square; font-size: 15px; width: 400px;" onmouseover="this.style.textDecoration = 'underline'"><li>Terms of use & Privacy policy</li></a>
 													 <a href="disclaimer.jsp" style="color: #171619; list-style-type:square; font-size: 15px;" onmouseover="this.style.textDecoration = 'underline'"><li>Disclaimer</li></a>
 													 <a href="events.jsp" style="color: #171619; list-style-type:square; font-size: 15px;" onmouseover="this.style.textDecoration = 'underline'"><li>Events</li></a>
 													 <a href="faq.jsp" style="color: #171619; list-style-type:square; font-size: 15px;" onmouseover="this.style.textDecoration = 'underline'"><li>FAQ's</li></a>
 													 <a href="notificationNcirculars.jsp" style="color: #171619; list-style-type:square; font-size: 15px;" onmouseover="this.style.textDecoration = 'underline'"><li>Circulars & Notifications</li></a>
 										</ul>
									</div>
							<br><br><br><br>
							</div>
  						</div>
					</div>
				</div>
				<br><br><br><br>
				</div>
  				</div>
  			</section>
   			</div>
   			</section>
        </div>
      <div th:replace="footer"></div>
     </th:block>